%h1== New factoid

- semantic_form_for(@factoid) do |f|
	- f.semantic_fields_for :triggers do |t|
		= t.inputs :value, :name => "Trigger"
	
	- f.semantic_fields_for :responses do |r|
		= r.inputs :value, :name => "Response"
	
	= f.buttons
		
