%h1 The fine, fine manual

:markdown
	
		* In a response, `$word` resolves to a random response for the trigger `$word`.
		* `$who` resolves to the nick who triggered the response
		* `$someone` resolves to a random nick from the channel