%h1 Listing triggers

= link_to 'New trigger', new_trigger_path

= collection_table @triggers do |t|
	- t.header :id
	- t.header :value
	- t.header :num_responses,	'# Responses'
	- t.rows.alternate = :odd
	- t.rows.each do |row, trigger, index|
		- row.value					 link_to(trigger.value, trigger)
		- row.num_responses	 trigger.responses.size

= will_paginate @triggers