<h1>Listing factoids</h1>

<%= will_paginate @triggers %>

<%= collection_table @triggers do |t|
      t.header :id
      t.header :value
      t.header :num_responses,  '# Responses'

      t.rows.alternate = :odd
      t.rows.each do |row, trigger, index|
        row.value          link_to(trigger.value, trigger)
        row.num_responses  trigger.responses.size
      end

      t.footer :num_responses, @triggers.inject(0) {|sum, trigger| sum += trigger.responses.size}
    end


 %>


<%= link_to 'New trigger', new_trigger_path %>
